# Ignore everything
.idea

# Allow public folder and its contents
!/docs/
!/docs/**

# Your other ignore rules (ignored only outside public/)
resources/_gen/
hugo_stats.json
node_modules/
package-lock.json
.idea/
.vscode/
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.local
