<!DOCTYPE html>
<html lang="en">
<head>
    <meta charSet="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/style.css" data-precedence="next"/>
    <script src="/js/fd9d1056-c261701f6dea3316.js" async=""></script>
    <script src="/js/23-6b951910d740c2cb.js" async=""></script>
    <script src="/js/app/main-app.js" async=""></script>
    <script src="/js/173-3c11a943ed278319.js" async=""></script>
    <script src="/js/424-e53f9ba17a1bfd5e.js" async=""></script>
    <script src="/js/191-ef83c97d7bdb0ce3.js" async=""></script>
    <script src="/js/app/page-3e4558b163e69ce4.js" async=""></script>
    <title>Sang Sinh NGUYEN - Backend Engineer</title>
    <meta name="description" content="I&#x27;m Sang Sinh NGUYEN. Backend engineer at FPT Corporation. I am passionate about reactive micro-service, multiple streaming processing and a little other things about develop service cycle."/>
    <meta property="og:title" content="Sang Sinh NGUYEN - Backend engineer"/>
    <meta property="og:description" content="I&#x27;m Sang Sinh NGUYEN. Backend engineer at FPT Corporation. I am passionate about reactive micro-service, multiple streaming processing and a little other things about develop service cycle."/>
    <meta property="og:site_name" content="Sang Sinh NGUYEN"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website"/>
    <meta name="twitter:title" content="Sang Sinh NGUYEN - Software engineer"/>
    <meta name="twitter:description" content="I&#x27;m Sang Sinh NGUYEN. Software engineer at Hugging Face. I am passionate about machine learning, low-level intricacies and all other things about computer."/>
    <meta name="twitter:image" content="https://ngxson.com/cover.jpg"/>
    <script src="/js/polyfills.js" nomodule=""></script>
</head>
<body>
<div class="bg-fixed-due-to-ios-not-supported"></div>
<article class="w-screen pr-0 md:pr-8">
    <div class="flex justify-center">
        <div class="w-full max-w-screen-2xl">
            <div class="block">
                <div class="">
                    <header>
                        <div class="flex flex-col items-center justify-center pt-50 hide-scrollbar h-[80vh]">
                            <div class="flex flex-col items-center pt-10 md:pt-50">
                                <div class="avatar">
                                    <figure class="w-32 h-32 xl:w-44 xl:h-44 rounded-full shadow-custom">
                                        <img alt="Profile picture" loading="lazy" decoding="async" data-nimg="fill" class="rounded-full" style="position:absolute;height:100%;width:100%;left:0;top:0;right:0;bottom:0;color:transparent" sizes="100vw" srcSet="/images/bio/ghibli-avatar-2.png 640w, /images/bio/ghibli-avatar-2.png 750w, /images/bio/ghibli-avatar-2.png 828w, /images/bio/ghibli-avatar-2.png 1080w, /images/bio/ghibli-avatar-2.png 1200w, /images/bio/ghibli-avatar-2.png 1920w, /images/bio/ghibli-avatar-2.png 2048w, /images/bio/ghibli-avatar-2.png 3840w" src="/images/bio/ghibli-avatar-2.png"/>
                                    </figure>
                                </div>
                                <div class="font-bold pt-5 pb-4 text-xl text-on-bg">Hello! I&#x27;m</div>
                                <section>
                                    <h1 class="font-bold text-center !text-4xl text-on-bg">Sang Sinh NGUYEN</h1>
                                    <div class="pt-3 text-center text-on-bg">
                                        <p>
                                            Backend Engineer at <a href="https://blog.cads.live/phan-1-prometheus-va-cau-chuyen-cay-dinh-ba/" target="_blank">FPT Corporation</a>
                                        </p>
                                    </div>
                                </section>
                                <section>
                                    <div class="pt-1"></div>
                                </section>
                            </div>
                            <div class="mt-7">
                                <a href="https://github.com/sangsinhisme" target="_blank" rel="noreferrer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-base-content opacity-80 hover:opacity-50 inline-block m-2">
                                        <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                                    </svg>
                                </a>
                                <a href="https://www.linkedin.com/in/sangsinh/" target="_blank" rel="noreferrer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-base-content opacity-80 hover:opacity-50 inline-block m-2">
                                        <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"></path>
                                    </svg>
                                </a>
                                <a href="https://leetcode.com/u/sangsinhisme/" target="_blank" rel="noreferrer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 95 111" class="fill-base-content opacity-80 hover:opacity-50 inline-block m-2">
                                        <path d="M68.0063 83.0664C70.5 80.5764 74.5366 80.5829 77.0223 83.0809C79.508 85.579 79.5015 89.6226 77.0078 92.1127L65.9346 103.17C55.7187 113.371 39.06 113.519 28.6718 103.513C28.6117 103.456 23.9861 98.9201 8.72653 83.957C-1.42528 74.0029 -2.43665 58.0749 7.11648 47.8464L24.9282 28.7745C34.4095 18.6219 51.887 17.5122 62.7275 26.2789L78.9048 39.362C81.6444 41.5776 82.0723 45.5985 79.8606 48.3429C77.6488 51.0873 73.635 51.5159 70.8954 49.3003L54.7182 36.2173C49.0488 31.6325 39.1314 32.2622 34.2394 37.5006L16.4274 56.5727C11.7767 61.5522 12.2861 69.574 17.6456 74.8292C28.851 85.8169 37.4869 94.2846 37.4969 94.2942C42.8977 99.496 51.6304 99.4184 56.9331 94.1234L68.0063 83.0664Z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M41.1067 72.0014C37.5858 72.0014 34.7314 69.1421 34.7314 65.615C34.7314 62.0879 37.5858 59.2286 41.1067 59.2286H88.1245C91.6454 59.2286 94.4997 62.0879 94.4997 65.615C94.4997 69.1421 91.6454 72.0014 88.1245 72.0014H41.1067Z"></path>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M49.9118 2.02335C52.3173 -0.55232 56.3517 -0.686894 58.9228 1.72277C61.494 4.13244 61.6284 8.17385 59.2229 10.7495L16.4276 56.5729C11.7768 61.552 12.2861 69.5738 17.6453 74.8292L37.4088 94.2091C39.9249 96.6764 39.968 100.72 37.505 103.24C35.042 105.761 31.0056 105.804 28.4895 103.337L8.72593 83.9567C-1.42529 74.0021 -2.43665 58.0741 7.1169 47.8463L49.9118 2.02335Z"></path>
                                    </svg>
                                </a>
                                <a href="" target="_blank" rel="noreferrer"  onclick="copyToClipboard('sangsinhisme@gmail.com'); return false;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="fill-base-content opacity-80 hover:opacity-50 inline-block m-2">
                                        <path d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"></path>
                                    </svg>
                                </a>
                            </div>
                            <div class="text-on-bg">
                                <a href="">Version français</a>
                            </div>
                        </div>
                    </header>
                </div>
                <div class="grow">
                    <main>
                        <div class="pt-50 max-w-4xl mx-auto px-4">
                            <section>
                                <div class="pb-12">
                                    <h1 class="pb-3 pl-2 font-bold text-2xl text-on-bg">About me</h1>
                                    <div class="grid grid-cols-1 md:grid-cols-2">
                                        <div class="">
                                            <div class="">
                                                <div class="m-1 mb-2 undefined">
                                                    <div class="group card bg-card ">
                                                        <div class="card-body p-5 ">
                                                            <ul>
                                                                <li>
                                                                    My Curriculum Vitae: <a href="/NguyenSangSinh.pdf" target="">Click here</a>
                                                                </li>
                                                                <li>Nationality: Vietnamese</li>
                                                                <li>Live in: Ho Chi Minh City</li>
                                                                <li>Languages: Vietnamese - English - basic Français</li>
                                                                <li> Email:
                                                                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=sangsinhisme@gmail.com" target="_blank">
                                                                        <span class="__cf_email__" >sangsinhisme</span>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    Biography: <a href="/" target="">View here</a>
                                                                </li>
                                                                <li>Hobbies: Running, Guitar</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="">
                                                <div class="m-1 mb-2 undefined">
                                                    <div class="group card bg-card ">
                                                        <div class="card-body p-5 ">
                                                            <h3 class="card-title">What can I do?</h3>
                                                            <ul>
                                                                <li>
                                                                    <strong>Scala, Java</strong>
                                                                    Microservices backend life-cycle
                                                                </li>
                                                                <li>
                                                                    <strong>Scala, Python</strong>
                                                                    Streaming ETL job, data engineering
                                                                </li>
                                                                <li>
                                                                    <strong>Go</strong>
                                                                    System programming
                                                                </li>
                                                                <li>
                                                                    <strong>Docker</strong>
                                                                    and <strong>kubernetes</strong>
                                                                    deployment
                                                                </li>
                                                            </ul>
                                                            <div class="divider my-0"></div>
                                                            <p>Other things:</p>
                                                            <ul>
                                                                <li>
                                                                    <strong>Prometheus</strong>
                                                                    Config monitoring
                                                                </li>
                                                                <li>
                                                                    <strong>Facebook/Google Ads</strong>
                                                                    integration
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hidden md:block">
                                            <div>
                                                <div class="m-1 mb-2 undefined">
                                                    <div class="group card bg-card ">
                                                        <div class="card-body p-5 ">
                                                            <h3 class="card-title">Education</h3>
                                                            <div class="timeline">
                                                                <div class="timeline-entry">
                                                                    <div class="left">
                                                                        <div class="timeline-line">
                                                                            <div class="circle"></div>
                                                                            <div class="line "></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right">
                                                                        <p class="timeline-time">2023 - now</p>
                                                                        <p class="timeline-title">Software Self-learning</p>
                                                                        <p>
                                                                            <a href="https://www.cloudskillsboost.google/public_profiles/c40144b1-5627-420f-98b4-c85667c7e591" target="_blank">Google Cloud Platform</a>
                                                                        </p>
                                                                        <ul>
                                                                            <li>DevOps Engineer, SRE Learning Path</li>
                                                                            <li>Functional Program Design in Scala</li>
                                                                            <li>Master Microservices with Spring Boot</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="timeline-entry">
                                                                    <div class="left">
                                                                        <div class="timeline-line">
                                                                            <div class="circle"></div>
                                                                            <div class="line "></div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="right">
                                                                        <p class="timeline-time">2019 - 2023</p>
                                                                        <p class="timeline-title">Bachelor of Computer Science</p>
                                                                        <p>
                                                                            <a href="https://www.tdtu.edu.vn/" target="_blank">Ton Duc Thang University</a>
                                                                        </p>
                                                                        <ul>
                                                                            <li>Graduated top 2 in Computer Science program</li>
                                                                            <li>Junior 100% tuition scholarship</li>
                                                                            <li>Sophomore 60% tuition scholarship</li>
                                                                            <li>Freshman 60% tuition scholarship</li>
                                                                            <li>Programming in C, Java (Web/App), Python (ML)</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section>
                                <div class="pb-12">
                                    <h1 class="pb-3 pl-2 font-bold text-2xl text-on-bg">Working experiences</h1>
                                    <div class="grid grid-cols-1 md:grid-cols-2">
                                        <div class="">
                                            <div class="">
                                                <div class="m-1 mb-2 undefined">
                                                    <div class="group card bg-card ">
                                                        <div class="card-body p-5 ">
                                                            <div class="flex pb-2 items-center">
                                                                <div class="grow">
                                                                    <h3 class="card-title">Software engineer at FPT Head Office</h3>
                                                                </div>
                                                            </div>
                                                            <small>
                                                                <b>November 2024 - now</b>
                                                            </small>
                                                            <div class="badge badge-accent badge-outline">Customer Experience Platform</div>
                                                            <p>Create customer segments and launch campaigns across channels like Facebook, Google Ads, TikTok, or third-party services via Pub/Sub or Firestore.</p>
                                                            <p>
                                                                <strong>My works: </strong>
                                                            </p>
                                                            <ul>
                                                                <li>Built multi-channels marketing features for Facebook Ads, Google Ads, and third-party platforms (e.g., Voice Bot via FCI)</li>
                                                                <li>Integrated AI-generated content templates for campaign automation</li>
                                                            </ul>
                                                            <p><strong>Skills:</strong> Akka System (Scala), Slick, Zio Reactive, Kafka</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-1 mb-2 undefined">
                                                    <div class="group card bg-card ">
                                                        <div class="card-body p-5 ">
                                                            <small>
                                                                <b>January 2024 - November 2024</b>
                                                            </small>
                                                            <div class="badge badge-accent badge-outline">Camera Management Platform</div>
                                                            <p>Built a camera management platform with real-time video streaming, configuration APIs, and machine learning integration for object detection.</p>
                                                            <p>
                                                                <strong>My works: </strong>
                                                            </p>
                                                            <ul>
                                                                <li>Integrated camera configuration data with a MLs for real-time object prediction.</li>
                                                                <li>Streamed video and managed camera configuration.</li>
                                                                <li>Optimized dashboard data processing.</li>
                                                                <li>Exposed credentials for third-party integration through Kong Gateway.</li>
                                                            </ul>
                                                            <p><strong>Skills:</strong> Quarkus (Java), Hibernate Reactive, Websocket, Redis, Kafka</p>
                                                            <p>
                                                                <strong>Website</strong>
                                                                : <a href="http://aicads.fpt.com/" target="_blank">Camera Management</a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hidden md:block">
                                            <div>
                                                <div class="m-1 mb-2 undefined">
                                                    <div class="group card bg-card ">
                                                        <div class="card-body p-5 ">
                                                            <div class="flex pb-2 items-center">
                                                                <div class="grow">
                                                                    <small>
                                                                        <b>September 2022 - August 2024</b>
                                                                    </small>
                                                                    <h3 class="card-title">Data & Software Engineer at FPT Telecom</h3>
                                                                </div>
                                                            </div>
                                                            <p>At FPT Telecom, I developed REST APIs with Scala and Python to support telecom log data retrieval and featuring data with MLOps.</p>
                                                            <p>
                                                                <strong>My works: </strong>
                                                            </p>
                                                            <ul>
                                                                <li>Developed REST API to retrieve data from the logs infrastructure</li>
                                                                <li>Designed and implemented MLOps functionalities</li>
                                                                <li>Streaming and parsing telecom infrastructure logs from network devices</li>
                                                                <li>Designed and implemented a real-time data pipeline to predict error from network devices</li>
                                                                <li>Built and maintained data pipelines using Apache Airflow and Spark Jobs with Metorikku</li>
                                                                <li>Built and maintained a data warehouse and data lake to support data analysis and data science, ensuring data availability with committed SLAs.</li>
                                                            </ul>
                                                            <p><strong>Skills:</strong> Spark Scala, Kafka, Akka Actor, Airflow, Metorikku, Scala Play, FastAPI</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-1 mb-2 undefined">
                                                    <div class="group card bg-card ">
                                                        <div class="card-body p-5 ">
                                                            <div class="flex pb-2 items-center">
                                                                <div class="grow">
                                                                    <h3 class="card-title">Certifications</h3>
                                                                </div>
                                                            </div>
                                                            <p>
                                                                <strong>Scala: </strong>
                                                            </p>
                                                            <ul>
                                                                <li><a href="https://www.coursera.org/account/accomplishments/certificate/GSEPHHZFYJ2X" target="_blank">Functional ProgrammingPrinciples in Scala</a></li>
                                                                <li><a href="https://www.coursera.org/account/accomplishments/verify/JTTRYUK4BL7C" target="_blank">Functional Program Design in Scala</a></li>
                                                            </ul>
                                                            <p>
                                                                <strong>Java: </strong>
                                                            </p>
                                                            <ul>
                                                                <li><a href="https://udemy-certificate.s3.amazonaws.com/pdf/UC-a31f892c-e0a7-4555-bdc6-a70adac87512.pdf" target="_blank">Master Microservices with Spring Boot and Spring Cloud</a></li>
                                                            </ul>
                                                            <p>
                                                                <strong>Google Cloud: </strong>
                                                            </p>
                                                            <ul>
                                                                <li><a href="https://www.cloudskillsboost.google/public_profiles/c40144b1-5627-420f-98b4-c85667c7e591" target="_blank">Google Cloud Skills Boost</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="mb-5 ml-2 mt-5 text-sm text-on-bg">
                                <p>
                                    This portfolio is inspired by <a href="https://github.com/ngxson" target="_blank">Xuan Son NGUYEN</a>
                                </p>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text)
                .then(() => alert('Email copied'))
                .catch(err => console.error('Failed to copy:', err));
        }
    </script>
</article>
</body>
</html>
